<div style="position: absolute; border-style: solid; border-color: black"
  *ngIf="!deleted"
  class ="unselectable"
  ngDraggable
  ngResizable
  (rzResizing)="onResizing($event)"
  (mousedown)="onWindowPress($event)"
  (movingOffset)="onWindowDrag($event)"
  (mouseup)="onWindowUp($event)"
  [position] = "position"
  [style.width.px] = "width"
  [style.height.px] = "height"
  [style.font-weight] = 'weight'
  [style.background-color] = "getBgColString()"
  [style.color] = "getFontColString()"
  [style.z-index] = "zIndex"
  [style.border-width.px] = "borderSize"
>
  <!-- <div style="position:absolute;">{{signatureId}}</div> -->
  <div style="position:absolute; font-size: 10px">{{signatureId}}</div>

  <div style="position: absolute;"
    [style.background-color] = "getFontColString()"
    [style.height.px] = "weight"
    [style.width.px] = "width"
    [style.margin-top.px] = "(height-weight)/2"
  ></div>
  <div style="position: absolute; text-align: center"
    [style.background-color] = "getFontColString()"
    [style.height.px] = "height"
    [style.width.px] = "weight"
    [style.margin-left.px] = "(width-weight)/2"
  >  
  </div>
  <!-- <div style="width: 100px; height: 10px; background-color: black"></div> -->
</div>