<div style="position: absolute;"
  class ="unselectable"
  (mousedown)="onWindowPress($event)"
  (mouseup)="onWindowUp($event)"
  [style.top.px] = "y"
  [style.left.px] = "x"
  [style.width.px] = "width"
  [style.height.px] = "height"
  [style.background-color] = "getBgColString()"
  [style.color] = "getFontColString()" 
  [style.font-size.px] = "fontSize"
  [style.font-family] = "fontFamily"
>
  <!-- Grids using looping of div -->
  <!-- <div fxLayout="row wrap" *ngIf="showGrid">
      <div *ngFor="let aaa of gridArr" style="border: 1px dotted hsl(0, 0%, 75%); width: 8px; height: 8px;"></div>
  </div> -->


  <!-- Grids using image  -->
  <!-- <div 
    *ngIf = "showGrid"
    style="background-image: url('./assets/box03.svg'); position: absolute"
    [style.width.px] = "width"
    [style.height.px] = "height"
  ></div> -->

  <!-- 10px x 10px Grids -->
  <div 
    *ngIf = "showGrid"
    style="background-image: url('./assets/10px-black-line.svg'); opacity: 0.3; position: absolute"
    [style.width.px] = "width"
    [style.height.px] = "height"
    ></div>

  <!-- 100px x 100px Grids -->
  <div 
    *ngIf = "showGrid"
    style="background-image: url('./assets/100px.svg'); opacity: 0.3; position: absolute;"
    [style.width.px] = "width"
    [style.height.px] = "height"
  ></div>

  <!-- Borders -->
  <!-- Top line -->
  <div 
    style="background-color:black; position: absolute;"
    style.top.px = "0"
    style.left.px = "0"
    [style.width.px] = "width"
    [style.height.px] = "borderSize"
  ></div>

  <!-- Left line -->
  <div 
    style="background-color:black; position: absolute;"
    style.top.px = "0"
    style.left.px = "0"
    [style.width.px] = "borderSize"
    [style.height.px] = "height"
  ></div>

  <!-- Right line -->
  <div 
    style="background-color:black; position: absolute;"
    style.top.px = "0"
    [style.left.px] = "width-borderSize"
    [style.width.px] = "borderSize"
    [style.height.px] = "height"
  ></div>

  <!-- Bottom line -->
  <div 
    style="background-color:black; position: absolute;"
    [style.top.px] = "height-borderSize"
    style.left.px = "0"
    [style.width.px] = "width"
    [style.height.px] = "borderSize"
  ></div>

</div>

<!-- (mousemove)="onWindowDrag($event)" -->