<div style="border: 1px solid black; position: absolute;"
  class ="unselectable"
  (mousedown)="onWindowPress($event)"
  
  (mouseup)="onWindowUp($event)"
  [style.top.px] = "y"
  [style.left.px] = "x"
  [style.width.px] = "width"
  [style.height.px] = "height"
  [style.background-color] = "getBgColString()"
  [style.color] = "getFontColString()" 
  [style.font-size.px] = "fontSize"
  [style.font-family] = "fontFamily"
>
  <!-- Grids using looping of div -->
  <!-- <div fxLayout="row wrap" *ngIf="showGrid">
      <div *ngFor="let aaa of gridArr" style="border: 1px dotted hsl(0, 0%, 75%); width: 8px; height: 8px;"></div>
  </div> -->


  <!-- Grids using image  -->
  <!-- <div 
    *ngIf = "showGrid"
    style="background-image: url('./assets/box03.svg'); position: absolute"
    [style.width.px] = "width"
    [style.height.px] = "height"
  ></div> -->

  <!-- Double layer grids -->
  <div 
    *ngIf = "showGrid"
    style="background-image: url('./assets/10px-black-line.svg'); opacity: 0.3; position: absolute"
    [style.width.px] = "width"
    [style.height.px] = "height"
    ></div>
  <div 
  *ngIf = "showGrid"
  style="background-image: url('./assets/100px.svg'); opacity: 0.3; position: absolute;"
  [style.width.px] = "width"
  [style.height.px] = "height"
  ></div>

</div>

<!-- (mousemove)="onWindowDrag($event)" -->