<div style="border: 1px dotted black; position:absolute;"
  *ngIf="!deleted"
  class ="unselectable"
  ngDraggable
  ngResizable
  (rzResizing)="onResizing($event)"
  (mousedown)="onWindowPress($event)"
  (movingOffset)="onWindowDrag($event)"
  (mouseup)="onWindowUp($event)"
  [position] = "position"
  [style.width.px] = "width"
  [style.height.px] = "height"
  [style.background-color] = "getBgColString()"
  [style.color] = "getFontColString()" 
  [style.font-size.px] = "fontSize"
  [style.font-family] = "fontFamily"
  [style.z-index] = "zIndex"
  [style.font-style] = "italic? 'italic': 'normal'"
  [style.font-weight] = "bold? 'bold': 'normal'"
>
  {{ content }}
</div>