<div style="border-style: dotted; border-color: black;position:absolute;
      display: flex;"
  *ngIf="!deleted"
  class ="unselectable"
  ngDraggable
  ngResizable
  (rzResizing)="onResizing($event)"
  (mousedown)="onWindowPress($event)"
  (movingOffset)="onWindowDrag($event)"
  (mouseup)="onWindowUp($event)"
  [style.justify-content] = "horizontalAlign"
  [style.align-items] = "verticalAlign"
  [position] = "position"
  [style.width.px] = "width"
  [style.height.px] = "height"
  [style.background-color] = "getBgColString()"
  [style.color] = "getFontColString()" 
  [style.font-size.px] = "fontSize"
  [style.font-family] = "fontFamily"
  [style.z-index] = "zIndex"
  [style.font-style] = "italic? 'italic': 'normal'"
  [style.font-weight] = "bold? 'bold': 'normal'"
  [style.border-width.px] = "showDottedLine?'1':'0'"
>

  <span style="white-space:pre-line">{{ content }}</span>
</div>