<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>FML Playground</span>
    <span style="flex: 1 1 auto"></span>
    <button mat-button>Load FML</button>
    <!-- <button mat-button>Save</button> -->
  </mat-toolbar-row>
</mat-toolbar>

<!-- left size nav -->
<mat-sidenav-container class="example-container">
  <!-- Component side nav -->
  <mat-sidenav opened mode="side" class="left-sidenav mat-elevation-z8">
    <mat-list>
      <h3 mat-subheader>Components</h3>
      <mat-list-item>
        <button mat-stroked-button (click)="genLabelBlock()">Label</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-stroked-button (click)="genTextfield()">Textfield</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-stroked-button (click)="genButton()">Button</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-stroked-button (click)="genSignatureBlock()">Signature Block</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-stroked-button>Check Box</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-stroked-button (click)="genFml()">GenFML</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <!-- Properties side nav -->
  <mat-sidenav opened mode="side" position="end" class="right-sidenav mat-elevation-z8">
      <mat-list>
          <h3 mat-subheader>Properties</h3>

          <mat-list-item>
            <mat-label>ID: </mat-label>
            <mat-form-field>
              <input matInput disabled [(ngModel)]="componentId">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-label>X: </mat-label>
            <mat-form-field>
              <input matInput [(ngModel)]="x" (change)="updateView()" [disabled]="deleted">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-label>Y: </mat-label>
            <mat-form-field>
              <input matInput [(ngModel)]="y" (change)="updateView()" [disabled]="deleted">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-label>width: </mat-label>
            <mat-form-field>
              <input matInput [(ngModel)]="width" (change)="updateView()" [disabled]="deleted">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-label>Height: </mat-label>
            <mat-form-field>
              <input matInput [(ngModel)]="height" (change)="updateView()" [disabled]="deleted">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="showBgColor">
            <mat-label>BG Color: </mat-label>
            <mat-form-field>
              <mat-select [(ngModel)]="bgColor" (selectionChange)="updateView()" [disabled]="deleted">
                <mat-option *ngFor="let colorCode of colorCodes" [value]="colorCode.value">
                  {{colorCode.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="showFontColor">
            <mat-label>Font Color: </mat-label>
            <mat-form-field>
              <mat-select [(ngModel)]="fontColor" (selectionChange)="updateView()" [disabled]="deleted">
                <mat-option *ngFor="let colorCode of colorCodes" [value]="colorCode.value">
                  {{colorCode.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="showFontSize">
            <mat-label>Font Size: </mat-label>
            <mat-form-field>
              <input matInput [(ngModel)]="fontSize" (change)="updateView()" [disabled]="deleted">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="showFontFamily">
            <mat-label>Font Family: </mat-label>
            <mat-form-field>
              <mat-select [(ngModel)]="fontFamily" (selectionChange)="updateView()" [disabled]="deleted">
                <mat-option *ngFor="let fontf of fontFamilies" [value]="fontf.value">
                  {{fontf.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="showWeight">
            <mat-label>Line Weight: </mat-label>
            <mat-form-field>
              <mat-select [(ngModel)]="weight" (selectionChange)="updateView()" [disabled]="deleted">
                <mat-option *ngFor="let wht of lineWeights" [value]="wht.value">
                  {{wht.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="showBorderSize">
            <mat-label>BorderSize: </mat-label>
            <mat-form-field>
              <mat-select [(ngModel)]="borderSize" (selectionChange)="updateView()" [disabled]="deleted">
                <mat-option *ngFor="let bdsz of borderSizes" [value]="bdsz.value">
                  {{bdsz.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="showSignatureId">
            <mat-label>Signature ID: </mat-label>
            <mat-form-field>
              <mat-select [(ngModel)]="signatureId" (selectionChange)="updateView()" [disabled]="deleted">
                <mat-option *ngFor="let sig of signatureIds" [value]="sig.value">
                  {{sig.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="showButtonId">
            <mat-label>Button ID: </mat-label>
            <mat-form-field>
              <mat-select [(ngModel)]="buttonId" (selectionChange)="updateView()" [disabled]="deleted">
                <mat-option *ngFor="let btn of buttonIds" [value]="btn.value">
                  {{btn.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>
          
          <mat-list-item *ngIf="showSymbolId">
            <mat-label>Symbol ID: </mat-label>
            <mat-form-field>
              <input matInput [formControl]="symControl" (change)="updateView()" [value]="symbolId" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option style="font-size: 12px" *ngFor="let option of filteredSymbolOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="showTextConv">
              <mat-label>Text Conv: </mat-label>
              <mat-form-field>
                <mat-select [(ngModel)]="textConv" (selectionChange)="updateView()" [disabled]="deleted">
                  <mat-option *ngFor="let conv of textTransforms" [value]="conv.value">
                    {{conv.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-list-item>

          <mat-list-item *ngIf="showBold">
            <mat-label>Bold: </mat-label>
              <mat-checkbox [(ngModel)]="bold" (change)="updateView()" [disabled]="deleted"></mat-checkbox>
          </mat-list-item>

          <mat-list-item *ngIf="showItalic">
            <mat-label>Italic: </mat-label>
              <mat-checkbox [(ngModel)]="italic" (change)="updateView()" [disabled]="deleted"></mat-checkbox>
          </mat-list-item>

          <mat-list-item *ngIf="showContent">
            <mat-label>Content: </mat-label>
            <mat-form-field>
              <input matInput [(ngModel)]="content" (change)="updateView()" [disabled]="deleted">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="showDelete">
            <button mat-stroked-button color="warn" (click)="delete()" [disabled]="deleted">Delete</button>
          </mat-list-item>
      </mat-list>
  </mat-sidenav>

  <!-- Content area -->
  <mat-sidenav-content>
      <!-- style="transform: scale(0.8)" -->
    <div>
      <!-- Screen body -->
      <app-body></app-body>

      <!-- Button -->
      <app-button [btnId]="btnId" *ngFor="let btn of btnArr"></app-button>

      <!-- Signature -->
      <app-signature [sigId]="sigId" *ngFor="let sigId of sigArr"></app-signature>

      <!-- Labels -->
      <app-label [lblId]="lblId" *ngFor="let lblId of lblArr"></app-label>

      <!-- Textfields -->
      <app-textfield [txtId]="txtId" *ngFor="let txtId of txtArr"></app-textfield>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

