<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Testing</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <!-- Component side nav -->
  <mat-sidenav class="mat-elevation-z8" opened mode="side">
    <mat-list>
      <h3 mat-subheader>Components</h3>
      <mat-list-item>
        <button mat-stroked-button (click)="genButton()">Next Button</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-stroked-button>Back Button</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-stroked-button (click)="genSignatureBlock()">Signature Block</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-stroked-button>Check Box</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-stroked-button>Textbox</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-stroked-button (click)="genFml()">GenFML</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <!-- Properties side nav -->
  <mat-sidenav opened mode="side" position="end" class="mat-elevation-z8">
      <mat-list>
          <h3 mat-subheader>Properties</h3>

          <mat-list-item>
            <mat-label fxFlex="300">ID: </mat-label>
            <mat-form-field>
              <input matInput disabled [(ngModel)]="componentId">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-label fxFlex="300">X: </mat-label>
            <mat-form-field>
              <input matInput [(ngModel)]="x" (change)="updateView()">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-label fxFlex="300">Y: </mat-label>
            <mat-form-field>
              <input matInput [(ngModel)]="y" (change)="updateView()">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-label fxFlex="300">width: </mat-label>
            <mat-form-field>
              <input matInput [(ngModel)]="width" (change)="updateView()">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-label fxFlex="300">Height: </mat-label>
            <mat-form-field>
              <input matInput [(ngModel)]="height" (change)="updateView()">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="showBgColor">
            <mat-label fxFlex="300">BG Color: </mat-label>
            <mat-form-field>
              <!-- <input matInput [(ngModel)]="bgColor" (change)="updateView()"> -->
              <mat-select [(ngModel)]="bgColor" (selectionChange)="updateView()">
                <mat-option *ngFor="let colorCode of colorCodes" [value]="colorCode.value">
                  {{colorCode.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="showFontColor">
            <mat-label style="width: 150px">Font Color: </mat-label>
            <mat-form-field>
              <mat-select [(ngModel)]="fontColor" (selectionChange)="updateView()">
                <mat-option *ngFor="let colorCode of colorCodes" [value]="colorCode.value">
                  {{colorCode.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="showFontSize">
            <mat-label fxFlex="300">Font Size: </mat-label>
            <mat-form-field>
              <input matInput [(ngModel)]="fontSize" (change)="updateView()">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="showFontFamily">
            <mat-label fxFlex="300">Font Family: </mat-label>
            <mat-form-field>
              <!-- <input matInput [(ngModel)]="fontFamily" (change)="updateView()"> -->
              <mat-select [(ngModel)]="fontFamily" (selectionChange)="updateView()">
                <mat-option *ngFor="let fontf of fontFamilies" [value]="fontf.value">
                  {{fontf.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="showWeight">
            <mat-label fxFlex="300">Line Weight: </mat-label>
            <mat-form-field>
              <!-- <input matInput [(ngModel)]="weight" (change)="updateView()"> -->
              <mat-select [(ngModel)]="weight" (selectionChange)="updateView()">
                <mat-option *ngFor="let wht of lineWeights" [value]="wht.value">
                  {{wht.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="showSignatureId">
            <mat-label fxFlex="300">Signature ID: </mat-label>
            <mat-form-field>
              <mat-select [(ngModel)]="signatureId" (selectionChange)="updateView()">
                <mat-option *ngFor="let sig of signatureIds" [value]="sig.value">
                  {{sig.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>
      </mat-list>
  </mat-sidenav>

  <!-- Content area -->
  <mat-sidenav-content>
      <!-- style="transform: scale(0.8)" -->
    <div>
      <!-- Screen body -->
      <app-body></app-body>

      <!-- Button -->
      <app-button *ngFor="let btn of btnArr"></app-button>

      <!-- Signature -->
      <app-signature [sigId]="sigId" *ngFor="let sigId of sigArr"></app-signature>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

