.example-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.left-sidenav {
  width:180px; 
  height: (100vh-64px); 
  overflow:auto;
}

.right-sidenav {
  width:250px; 
  height: (100vh-64px); 
  overflow: auto;
}

mat-list mat-list-item,
mat-list mat-list-item button {
  font-size: 12px;
  flex-direction: row;
}

mat-list mat-list-item mat-label {
  flex: 1 1 100%;
  max-width: 40%;
}

mat-list mat-list-item mat-form-field {
  flex: 1 1 100%;
  max-width: 60%;
}

/* For matcomplete overlay */
::ng-deep .cdk-overlay-pane {
    min-width:200px;
    margin-left: -50px;
    /* width: auto !important; */
}

/* mat-list-item {
  margin-left: 15px;
} */

/* mat-sidenav {
  width: 200px;
} */

/* mat-sidenav-container {

  background-color: red;
  position: absolute;
  top: 64;
  bottom: 64;
  left: 0;
  right: 0;
} */

/* Colour for Lock Button */
.red {
  background-color: #FF7F7F;
}

/* Colour for unlock button */
.green{
  background-color: lightgreen;
}